<!DOCTYPE html>
<html>
<head>
    <title>RAA EARTHQUAKE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="layout">

    <!-- SIDEBAR -->
    <div class="sidebar">

        <h2 class="logo">RAA EARTHQUAKE</h2>

        <a href="/">Home</a>
        <a href="/india">India</a>
        <a href="/world">World</a>
        <a href="/guide">Guide</a>
        <a href="/account">Account</a>

        <!-- Push Rishav to Bottom -->
        <div class="bottom-link">
            <a href="/rishav">Rishav</a>
        </div>

    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

</div>

</body>


{% if session.get("is_admin") %}
    <a href="/admin">Rishav (Admin)</a>
{% endif %}


{% if session.get("user_email") == "bharadwajrishav8434@gmail.com" 
   or session.get("user_email") == "nitu9sharma9@gmail.com" %}
    <a href="/rishav">Rishav (Admin)</a>
{% endif %}